input,textarea{border:none;border-radius:0;outline:0;color:var(--text-color);font-family:sans-serif,Arial,Helvetica!important;font-size:14px}input::-webkit-inner-spin-button,input::-webkit-outer-spin-button{-webkit-appearance:none;margin:0}input[type=number]{-moz-appearance:textfield;padding:0;max-width:50px}input[type=number].fs-12{font-size:12px}input[type=number].fs-11{font-size:11px}input[readonly],input[type=date],input[type=text]{font-weight:700!important}input[readonly]{cursor:default;transition:background-color .4s ease-out}.bgc-gray,input[readonly].bg-gray{background-color:var(--gray-c)!important}input[type=number].fundo-vermelho{background-color:var(--danger-color)!important;color:var(--yt)}div.ficha div.container>header input{font-weight: bold;}

/* Container */
div.container {
    max-width: 998px;
    min-width: 998px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.container div.contentor-de-emblema-e-titulo {
    display: grid;
    grid-template-columns: 160px 638px;
    grid-column-gap: 132px;
    margin-bottom: 5px;
}

div.contentor-de-emblema-e-titulo figure {
    margin: 0;
}

div.contentor-de-emblema-e-titulo figure img {
    display: block;
    margin: auto;
}


div.contentor-de-emblema-e-titulo 
div.contentor-de-emblema span {
    display: block;
    text-align: center;
    font-weight: 700;
    font-size: 9px;
    text-transform: uppercase;
    line-height: 1.2;
}

div.contentor-de-emblema-e-titulo 
div.contentor-de-titulo {
    display: flex;
    align-items: center;
    flex-direction: column;
}

div.contentor-de-titulo h1 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 20px;
}

div.contentor-de-titulo span {
    font-size: 14px;
}

/* Linha de Geolocalização */

div.linha-de-geolocalizacao {
    display: grid;
    grid-template-columns: 95px 185px 215px 240px 54px;
    grid-template-areas: ". provincia distrito us ano";
    margin-bottom: 8px;
    width: 905px;
}

div.linha-de-geolocalizacao > div {
    display: grid;
    grid-template-rows: 20px 30px;
}

div.linha-de-geolocalizacao div.col-de-provincia {
    grid-area: provincia;
}

div.linha-de-geolocalizacao div.col-de-distrito {
    grid-area: distrito;
}

div.linha-de-geolocalizacao div.col-de-us {
    grid-area: us;
}

div.linha-de-geolocalizacao div.col-de-ano {
    grid-area: ano;
}

div.linha-de-geolocalizacao > div label {
    text-align: center;
    font-weight: 700;
}

div.linha-de-geolocalizacao > div input {
    display: block;
    width: 100%;
    border: 1px solid var(--border-color);
    text-align: center;
}

/* Cabecalho da ficha */
div.ficha header {
    display: grid;
    grid-template-columns: 95px 40px 300px repeat(2, 180px) 110px;
    grid-template-areas: ". col1 col2 col3  col4 col5";
    position: sticky;
    top: 0;
    background-color: var(--yt);
}

@media print {
    div.ficha header {
        position: initial;
    }
}

div.ficha header > div {
    border-bottom: 2px solid var(--border-color);
}


/* Col1 */
div.ficha header div.col1 {
    grid-area: col1;
    border: 2px solid var(--border-color);
    border-right: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.col1.com-titulo-linhas > * {
    display: block;
    text-align: center;
    margin: 2px 0;
}

div.col1.com-titulo-linhas span {
    font-size: 16px;
    transform: rotate(180deg);
    margin-top: -2px;
}

/* Col2 */
div.ficha header div.col2 {
    grid-area: col2;
    display: grid;
    grid-template-rows: calc(131.78px / 3) calc(131.78px - 131.78px / 3);
    border-left: 2px solid var(--border-color);
}

div.col2 div.contentor-do-titulo-colunas {
    border-top: 2px solid var(--border-color);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 4px;
}

div.col2 div.contentor-do-titulo-colunas span {
    transform: rotate(90deg);
    font-size: 16px;
    margin-left: 4px;
    margin-bottom: 2px;
}

div.col2 div.contentor-do-titulo-periodo {
   display: grid;
   grid-template-rows: repeat(2, 43.93px);
   justify-items: center;
   align-items: center;
   border-top: 2px solid var(--border-color)
}

div.contentor-do-titulo-periodo label {
    font-weight: 700;
}

div.col2 div.contentor-do-titulo-periodo 
div.contentor-de-inputs-para-periodo-de-reporte {
    display: grid;
    grid-template-columns: 50px 5px 50px 16px 50px 5px 50px;
    justify-content: center;
}

div.contentor-de-inputs-para-periodo-de-reporte input {
    border-bottom: 1px solid var(--border-color);
    text-align: center;
    font-weight: 700;
}

div.contentor-de-inputs-para-periodo-de-reporte span.barra,
div.contentor-de-inputs-para-periodo-de-reporte span.hifen {
    font-size: 18px;
    text-align: center;
}

/* Col3 */
div.ficha header div.col3 {
    grid-area: col3;
}

div.ficha header div.col4 {
    grid-area: col4;
    border-right: 2px solid var(--border-color);
} 

/* Col3 e Col4 */
div.ficha header div.same-style {
    display: grid;
    grid-template-rows: repeat(3, calc(131.8px / 3));
}

header div.same-style div.linha-tricolunar {
    display: grid;
    grid-template-columns: repeat(3, calc(180px / 3));
    border-top: 2px solid var(--border-color);
}

header div.same-style div.linha-de-faixa-etaria,
div.same-style div.linha-tricolunar span {
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 2px solid var(--border-color);
    text-align: center;
    font-weight: 700;
    line-height: 1.2;
}

header div.same-style div.linha-de-faixa-etaria {
    border-top: 2px solid var(--border-color);
}

/* Col5 */
div.ficha header div.col5 {
    grid-area: col5;
    display: grid;
    grid-template-rows: calc(131.78px / 3) calc(131.78px - 131.78px / 3);
}

header div.col5 > div {
    border-right: 2px solid var(--border-color);
    border-top: 2px solid var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

/* Corpo da ficha */
div.ficha div.body {
    display: grid;
    grid-template-columns: 95px 40px 300px repeat(6, 60px) 110px;
    line-height: 1.4;
}

/* Formatação comum */
div.body > div {
    border-bottom: 2px solid var(--border-color);
}

div.body > div.col:nth-child(n+2) > div {
    border-top: 2px solid var(--border-color);
    border-left: 2px solid var(--border-color);
    padding: 0 4px;
    display: flex;
    align-items: center;
    line-height: 1.2;
}

div.body > div.col > div:first-child,
div.body div.col-de-entrycels input:first-child,
div.body div.col-de-entrycels div:first-child {
    border-top: none;
}

/* Coluna de pacotes de APSS/PP */

div.body div.col.de-pacotes-apss {
    display: grid;
    grid-template-rows: 100px 210px 120px 300px;
}

div.body div.col.de-pacotes-apss > div {
    max-width: 95px;
    border-top: 2px solid var(--border-color);
    border-left: 2px solid var(--border-color);
    position: relative;
}

div.body div.col.de-pacotes-apss > div:first-child {
    margin-top: -1.5px;
}

div.col.de-pacotes-apss div span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    text-align: center;
    letter-spacing: .5px;
}

div.col.de-pacotes-apss div:first-child span {
    transform: rotate(-90deg) translateX(-20px);
}

div.col.de-pacotes-apss div:nth-child(2) span {
    transform: rotate(-90deg) translateX(-95px);
}

div.col.de-pacotes-apss div:nth-child(3) span {
    transform: rotate(-90deg) translateX(-43px);
}

div.col.de-pacotes-apss div:last-child span {
    transform: rotate(-90deg) translateX(-130px);
}

/* Coluna de linhas e de indicadores e inputs*/
div.body div.col.de-linhas,
div.body div.col.de-indicadores,
div.body div.col-de-entrycels {
    display: grid;
    grid-template-rows: 100px 120px 90px 120px repeat(3, 100px);
}

div.body div.col.de-linhas > div {
    justify-content: center;
    font-weight: 700;
}

div.body div.col.de-indicadores span {
    line-height: 1.3;
    font-size: 1rem;
}

div.body div.col.de-indicadores em {
    font-style: italic;
    text-decoration: underline;
}

div.body div.col.de-indicadores sup {
    font-size: 10px;
}

/* Coluna(s) de células de entrada */
div.body div.col-de-entrycels input {
    border-top: 2px solid var(--border-color);
    border-left: 2px solid var(--border-color);
    text-align: center;
}

div.body div.col-de-entrycels input {
    display: block;
    min-width: 60px;
}

div.body div.col-de-entrycels._7 input {
    border-right: 2px solid var(--border-color);
    min-width: 108px;
    margin-left: -1px;
}

div.n-a {
    background-color: var(--fullblack);
    border: none !important;
    border: 2px solid var(--border-color)
}

/* Rodape da ficha */

div.ficha footer {
    display: grid;
    grid-template-columns: 340px 240px 230px;
    padding-left: 56px;
    margin: 15px 0;
    justify-content: space-between;
    max-width: 905px;
    position: relative;
}

@media print {
    div.ficha footer {
        margin-bottom: 60px;
    }
}

div.ficha footer > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.ficha footer label {
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
}

div.ficha footer input {
    border-bottom: 1px solid var(--border-color);
    width: 260px;
    text-align: center;
}

footer div.col-de-assinatura input {
    width: 180px;
}

footer div.col-de-data-de-elaboracao label {
    align-self: flex-end;
}

footer div.col-de-data-de-elaboracao input {
   width: 150px
}

footer p.nota-b {
    margin-bottom: 0;
    position: absolute;
    bottom: -45px;
    left: 0;
    display: none;
}

@media print {
    footer p.nota-b {
        display: initial;
    }
}




@-moz-document url-prefix(){div.nota{min-height:96px}}@media screen and (max-width:998px){div.linha.nota{padding-left:0;padding-right:0}}div.nota textarea{font-family:san-serif,Arial,Helvetica;width:890px;padding:5px;line-height:1.5;border:1px solid var(--border-color)}@media print{div.col1.emblema-e-republica,div.container{visibility:visible}div.nota.no-print{display:none}div.nota textarea{padding:0}}div.nota textarea.bold{font-weight:700;border-color:transparent}div.nota textarea:focus{border:2px solid var(--blue)}